body {
    background-color: lightskyblue;
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
    background: linear-gradient(to right,red,orange,yellow,green,lightblue,blue,purple); 
    color:aquamarine;
    padding: 10px; 
    font-size: 16pt;
    transition: 1s;
}

header:active {
    font-size: 20px;
}

header:hover {
    font-size: 30px;
    color: black;
}

main {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 25px; 
}

footer {
    background: linear-gradient(to right,red,orange,yellow,green,lightblue,blue,purple);
    color:aquamarine; 
    padding: auto; 
    font-size: 16pt; 
    transition: 1s;
    text-align: right;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer:active {
    font-size: 30px;
}
footer:hover {
    font-size: 30px;
    color: black;
}

a {
    text-decoration: none;
    transition: 0,3ms;
    text-shadow: 7px 5px 3px yellow;
}

a:visited {
    text-decoration: line-through;
    color: gold
}

a:hover{
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    transition: 300ms 600ms;
    text-shadow: 7px 5px 3px yellow;
}

a:active {
    color: pink;
    background-color: green;
}