body {
    background-color: lightskyblue;
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
    background: linear-gradient(to right,red,orange,yellow,green,lightblue,blue,purple); 
    color:aquamarine;
    padding: 10px; 
    font-size: 16pt;
}


footer {
    background: linear-gradient(to right,red,orange,yellow,green,lightblue,blue,purple);
    color:aquamarine; 
    padding: 10px; 
    font-size: 16pt; 
    text-align: right"
}

a {
}

a:visited {
    background-color: purple;
    color: gold
}

a:hover{
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
}

a:active {
    color: pink;
    background-color: green;
}